<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
  <h1>Welcome to Your Dashboard</h1>
  <p>Hello, <span id="userEmail">{user_email}</span>!</p>
  <p>This is your dashboard. You can add your dashboard content here.</p>
  
  <!-- Plot -->
  <div class="container">
  <div class="hello-container">
      <h2>Report</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="plot-container">
      {plot_html}
  </div>
  </div>
    
    <!-- Logout Button -->
    <form id="logoutForm" action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <script>
        // Logout functionality
        document.getElementById("logoutForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission
            
            // Send logout request to the server
            fetch("/logout", {
                method: "POST"
            })
            .then(response => response.json())
            .then(data => {
                // Redirect to login page after successful logout
                if (data.success) {
                    window.location.href = "/login";
                } else {
                    console.error("Logout failed:", data.message);
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    </script>
</body>
</html>
